name: Build and Publish Testing
permissions:
  contents: read
  packages: write

on:
  workflow_dispatch:
  push:
    branches:
      - develop

jobs:

  build:

    runs-on: ubuntu-latest
    env:
      GO111MODULE: on

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run Gosec Security Scanner
        uses: securego/gosec@v2.23.0
        with:
          args: ./...

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '1.26'

      - name: Run Go tests
        run: go test ./...

#      - name: Install Cosign
#        uses: sigstore/cosign-installer@v3.10.0
#        with:
#          cosign-release: 'v2.6.0'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Login to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image to Docker Hub and GHCR
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        id: push-all
        with:
          context: .
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          push: true
          build-args: VERSION=testing-${{ github.sha }}
          tags: |
            docker.io/wollomatic/socket-proxy:testing
            docker.io/wollomatic/socket-proxy:testing-${{ github.sha }}
            ghcr.io/wollomatic/socket-proxy:testing
            ghcr.io/wollomatic/socket-proxy:testing-${{ github.sha }}

#      - name: Build and push Docker Hub image
#        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
#        id: push-dockerhub
#        with:
#          context: .
#          platforms: linux/amd64,linux/arm/v7,linux/arm64
#          push: true
#          build-args: VERSION=testing-${{ github.sha }}
#          tags: |
#            docker.io/wollomatic/socket-proxy:testing
#            docker.io/wollomatic/socket-proxy:testing-${{ github.sha }}
#
#      - name: Sign Docker Hub image
#        run: cosign sign --yes --recursive --key env://COSIGN_PRIVATE_KEY docker.io/wollomatic/socket-proxy:testing-${{ github.sha }}@${{ steps.push-dockerhub.outputs.digest }}
#        env:
#          COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
#          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
#
#      - name: Build and push GHCR image
#        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
#        id: push-ghcr
#        with:
#          context: .
#          platforms: linux/amd64,linux/arm/v7,linux/arm64
#          push: true
#          build-args: VERSION=testing-${{ github.sha }}
#          tags: |
#            ghcr.io/wollomatic/socket-proxy:testing
#            ghcr.io/wollomatic/socket-proxy:testing-${{ github.sha }}
#
#      - name: Sign GHCR image
#        run: cosign sign --yes --recursive --key env://COSIGN_PRIVATE_KEY ghcr.io/wollomatic/socket-proxy:testing-${{ github.sha }}@${{ steps.push-ghcr.outputs.digest }}
#        env:
#          COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
#          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
